@import "../../variables/global.scss";

.navbar {
    display: flex;
    justify-content: center;
    background-color: $color-primary;
    padding-top: 1rem;

    img {
        cursor: pointer;
    }
}

img {
    display: block;
    margin: 1.5rem auto;
}