@import "../../variables/global.scss";

button {
  padding: 0.30rem;
  background-color: $color-accent;
  border: 3px solid $color-text-light;
  border-radius: 5px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 0.9rem;
  cursor: pointer;
}

img {
    width: 1.4rem;
    height: 1rem;
}