<button
  (click)="onClick()"
  [disabled]="isDisabled"
  [class]="btnClass"
  [ngStyle]="{ 'border-color': borderColor }"
>
  <ng-container *ngIf="svgPlacement === 'start'">
    <img
      src="assets/images/arrow-left.svg"
      alt="A left arrow icon."
      style="margin: {{ getSvgPlacementMargin() }};"
    />
  </ng-container>
  {{ buttonLabel | uppercase }}
  <ng-container *ngIf="svgPlacement === 'end'">
    <img
      src="assets/images/arrow-right.svg"
      alt="A right arrow icon."
      style="margin: {{ getSvgPlacementMargin() }};"
    />
  </ng-container>
</button>
