<div
  class="marios-container"
  (click)="openDialog()"
  (keyup)="openDialog()"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
  tabindex="0" 
>
  <div class="col-md-12">
    <div class="marios-card">
      <img src="assets/images/person.svg" alt="" />
      <p class="marios-card-author">
        From: {{ employee.firstName }} {{ employee.lastName }}
      </p>
    </div>
  </div>

  <div class="col-md-12">
    <div class="marios-card">
      <img src="assets/images/star.svg" alt="" />
      <p>{{ marios.reaction | reactionMessage }}</p>
    </div>
  </div>

  <div class="col-md-12">
    <div class="marios-card">
      <p class="marios-card-text">T: <span style="padding-left: 5px;"></span> {{ marios.title }}</p>
    </div>
  </div>

  <div class="col-md-12">
    <div class="marios-card">
      <p class="marios-card-comment">
        {{ marios.message | truncate : 60 }}
        <span class="marios-card-see-more">See more</span>
      </p>
    </div>
  </div>

  <div class="click-label-layer" *ngIf="isHovered">
    <div class="click-label">READ MORE</div>
  </div>
</div>
