@import "../../../shared/variables/global.scss";

$color-gray-light: #a1a1a1;

@mixin hover-effect {
  background-color: rgba(0, 0, 0, 0.5);
  color: black;
}

@mixin font-style($weight, $size, $spacing) {
  font-family: $font-family;
  font-weight: $weight;
  font-size: $size;
  letter-spacing: $spacing;
}

@mixin flex-left() {
  display: flex;
  justify-content: left;
  align-items: left;
}

.marios-container {
  @include flex-left();
  flex-direction: column;
  width: 19rem;
  height: 10rem;
  background-color: $color-text-light;
  padding-left: 6px;
  border-radius: 5px;
}

.marios-card {
  @include flex-left();
  margin-top: 8px;

  > img {
    margin-right: 8px;
  }

  > p {
    @include font-style($font-weight-bold, 16px, 0px);
    margin: 0;
  }
}

.marios-card-author {
  color: $color-primary;
}

.marios-card-comment {
  color: $color-gray-light;
}

.marios-card-see-more {
  color: $color-text-dark;
}

.marios-container {
  cursor: pointer;
  &:hover {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.70);
      z-index: 1;
      transition: opacity 0.3s;
      border-radius: 5px;
    }
    
    transform: scale(1);
    z-index: 2;
  }
}

.click-label-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.click-label {
  color: $color-text-light;
  font-size: 2rem;
  font-weight: $font-weight-bold;
}

.no-padding {
  padding: 0;
}