<div class="container">
  <div class="marios-container">
    <div class="col-md-12">
      <div class="marios-card">
        <img src="assets/images/person.svg" alt="" />
        <p class="marios-card-author">
          From: {{ employee.firstName }} {{ employee.lastName }}
        </p>
      </div>
    </div>

    <div class="col-md-12">
      <div class="marios-card">
        <img src="assets/images/star.svg" alt="" />
        <p>{{ getReactionMessage() }}</p>
      </div>
    </div>

    <div class="col-md-12">
      <div class="marios-card">
        <p class="marios-card-text">T: {{ marios.title }}</p>
      </div>
    </div>

    <div class="col-md-12">
      <div class="marios-card">
        <p class="marios-card-comment">
          {{ marios.message | truncate : 60 }}
          <span class="marios-card-see-more">See more</span>
        </p>
      </div>
    </div>
  </div>
</div>
