@import "../../../shared/variables/global.scss";
@import "./variables.scss";
@import "./mixins.scss";

.marios-container {
  @include flex-left();
  flex-direction: column;
  background-color: $color-text-light;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  border-radius: $border-radius;
  padding-bottom: 0.5rem;
  min-height: 10rem;
}

.marios-card {
  @include flex-left();
  margin-top: 0.5rem;

  > img {
    margin-right: 0.5rem;
  }
}

.marios-card-author {
  color: $color-text-pink;
}

.marios-card-comment {
  color: $color-gray-light;
  font-size: 0.9rem !important;
  margin-bottom: 1rem !important;
}

.marios-card-see-more {
  color: $color-text-dark;
}

span {
  @include font-style($font-weight-bold-light, 1rem, 0px);
}

.title-margin {
  margin-right: 0.7rem;
}

.marios-container {
  cursor: pointer;
  &:hover {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 1;
      transition: opacity 0.3s;
      border-radius: $border-radius;
    }

    transform: scale(1);
    z-index: 2;
  }
}

.click-label-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.click-label {
  color: $color-text-light;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  font-weight: $font-weight-bold;
}

.no-padding {
  padding: 0;
}
