<mat-dialog-content class="mat-typography">
  <div class="container-fluid dialog-container">
    <div class="dialog-header">
      <button mat-icon-button (click)="onCloseDialog()">
        <img src="assets/images/close.svg" alt="A close icon." />
      </button>
    </div>
    <div class="dialog-content">
      <div class="row">
        <div class="col-md-6">
          <div class="marios-card">
            <span class="marios-card-author">
              {{ data.isSender ? "From:" : "To:" }}
              {{ data.employee.firstName }} {{ data.employee.lastName }}
            </span>
          </div>
        </div>

        <div class="col-md-6 reaction-container">
          <span>
            <img src="assets/images/star.svg" alt="A green star icon." />
            {{ data.marios.reaction | reactionMessage }}
          </span>
        </div>

        <div class="col-md-12 mt-2">
          <div class="marios-card">
            <span class="marios-title">{{ data.marios.title }}</span>
          </div>
        </div>

        <div class="col-md-12 mt-3">
          <div class="marios-card">
            <span class="marios-card-comment">
              {{ data.marios.message }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
