@import "../../../../../shared/variables/global.scss";

.textarea-container {
  position: relative;

  textarea {
    padding: 0.5rem !important;
    line-height: 1.3rem;
    font-size: 1.2rem;
  }
}

.textarea-container .char-count {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  color: $color-text-gray-light;
  letter-spacing: 0.05rem;
  font-weight: 600;
}

textarea::placeholder {
  font-weight: 700;
  font-size: 0.7rem;
  color: #bababa;
  padding-left: 0.3rem;
}

.textarea-container .char-count {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  color: $color-text-gray-light;
  letter-spacing: 0.05rem;
  font-weight: 600;
}

textarea {
  border: 1px solid $color-text-gray-light;
  border-radius: $border-radius;
  resize: none;
  width: 100%;
  height: 100px;
  overflow: hidden;
  padding: 0.3rem;
}
