<span class="label" for="commentInput">Comment:</span>
<div class="textarea-container">
  <textarea
    [class.error-border]="control.invalid && control.touched"
    id="commentInput"
    [formControl]="control"
    [attr.maxLength]="255"
    [readonly]="getCharacterCount() > 255"
  ></textarea>
  <div class="char-count">{{ getCharacterCount() }}/255</div>
</div>
<div *ngIf="control.invalid && control.touched" class="error-message">
  Message is required and should be between 1 and 255 characters.
</div>
