$color-primary: #e74850;
$color-secondary: #4286f4;
$color-secondary-ligth: #4286f4;
$color-accent: #fccf00;
$color-text-dark: #000000;
$color-text-light: #ffffff;

$font-family: "Open Sans";
$font-weight-bold: 800;
$font-size-large: 35px;