@import "../../../shared/variables/global.scss";

// Variables
$card-width: 28rem;
$card-height: 15rem;
$mario-logo-width: 12rem;
$mario-logo-height: 12rem;
$box-shadow: 0 8px 10px
  rgba(
    $color: #000000,
    $alpha: 0.45,
  );
$letter-spacing-large: 0.4rem;
$font-size-huge: 8rem;
$letter-spacing-huge: 1rem;

// Mixins
@mixin inner-container {
  width: calc(#{$card-width} / 2);
  display: flex;
  justify-content: center;
}

@mixin font-style($weight, $size, $spacing, $color) {
  font-family: $font-family;
  font-weight: $weight;
  font-size: $size;
  letter-spacing: $spacing;
  color: $color;
}

// Styles
.card {
  cursor: pointer;
  height: $card-height;
  border-radius: 5px;
  background-color: $color-text-light;
  box-shadow: $box-shadow;
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  &:hover {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.1);
      z-index: 1;
      transition: opacity 0.3s;
    }

    transform: scale(1);
    z-index: 2;
  }

  .message-container {
    @include inner-container;
    align-items: center;

    > span {
      @include font-style(
        $font-weight-bold,
        $font-size-large,
        $letter-spacing-large,
        $color-text-dark
      );
      padding-left: 2.2rem;
      line-height: 3rem;
    }
  }

  .counter-container {
    @include inner-container;
    align-self: center;
    position: relative;

    > img {
      opacity: 0.45;
      width: $mario-logo-width;
      height: $mario-logo-height;
    }

    > span {
      margin: 0;
      padding: 0;
      left: 0;
      position: absolute;
      text-align: center;
      top: calc(#{10rem} / 2);
      width: 100%;

      @include font-style(
        $font-weight-bold,
        $font-size-huge,
        $letter-spacing-huge,
        $color-accent
      );
      padding-left: 0.5rem;
      -webkit-text-stroke: 6px black;
      -webkit-text-fill-color: $color-accent;
    }
  }
}
