@import "../../../shared/variables/global.scss";
@import "./mixins.scss";
@import "./variables.scss";

.card {
  cursor: pointer;
  border-radius: $border-radius;
  background-color: $color-text-light;
  box-shadow: $box-shadow;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  min-height: 14rem;

  &:hover {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.1);
      z-index: 1;
      transition: opacity 0.3s;
    }

    transform: scale(1);
    z-index: 2;
  }

  .message-container {
    @include inner-container;
    align-items: center;

    > span {
      @include font-style(
        $font-weight-bold,
        $font-size-large,
        $letter-spacing-large,
        $color-text-dark
      );
      padding-left: 2.2rem;
      line-height: 3rem;
    }
  }

  .counter-container {
    @include inner-container;
    align-self: center;
    position: relative;

    > img {
      opacity: 0.45;
      width: $mario-logo-width;
      height: $mario-logo-height;
    }

    > span {
      margin: 0;
      padding: 0;
      left: 0;
      position: absolute;
      text-align: center;
      margin-top: 5rem;
      width: 100%;

      @include font-style(
        $font-weight-bold,
        $font-size-huge,
        $letter-spacing-huge,
        $color-accent
      );
      padding-left: 0.5rem;
      -webkit-text-stroke: 6px black;
      -webkit-text-fill-color: $color-accent;
    }
  }
}
