$card-width: 28rem;
$card-height: 15rem;
$mario-logo-width: 12rem;
$mario-logo-height: 12rem;
$box-shdow-color: #000000;
$box-shadow: 0 8px 10px
  rgba(
    $color: $box-shdow-color,
    $alpha: 0.45,
  );
$letter-spacing-large: 0.4rem;
$font-size-huge: 8rem;
$letter-spacing-huge: 1rem;
$border-radius: 5px;
