@import "../../../shared/variables/global.scss";

.employee-avatar {
  background-image: url("/assets/images/person-yellow.svg");
  background-repeat: no-repeat;
  background-size: 1.3rem 1.3rem;
  background-position: left center;
  padding-left: 1.5rem;
  margin-bottom: 0.3rem;
}

.search-field-multiselect {
  color: #8d8080;
  font-weight: $font-weight-bold-light;
  font-size: 1.2rem;
}

.label {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

textarea {
  border: 1px solid $color-text-gray-light;
  border-radius: $border-radius;
  resize: none;
  width: 100%;
  height: 100px;
  overflow: hidden;
  padding: 0.3rem;
}

.title-text-area {
  max-height: 2rem;
}

::ng-deep .ng-select .ng-select-container {
  border: 0 !important;
}

::ng-deep .ng-arrow-wrapper {
  visibility: hidden;
}

::ng-deep .ng-value {
  padding: 0.2rem !important;
  border-radius: 0.3rem !important;
  background-color: $color-accent !important;
}

::ng-deep .ng-value-icon {
  border: 0 !important;
}

::ng-deep .ng-option-marked {
  background-color: $color-accent !important;
}

::ng-deep .ng-option {
  font-family: $font-family !important;
  font-size: 1rem !important;
  padding-left: 2rem;
}

::ng-deep .ng-placeholder {
  margin-top: 0.1rem;
  font-size: 1.4rem;
  font-weight: 600;
}

.form-container {
  margin: 0 auto;
  background-color: $color-text-light;
  border-radius: 0.5rem;
  font-family: $font-family;
}

.form-group {
  padding: 1rem 2rem 0.75rem 1rem;
}

.form-group-bottom-border {
  border-bottom: 0.25rem solid $color-accent;
}

.label {
  display: block;
  font-weight: bold;
}

.input {
  width: 100%;
  padding: 5px;
}

.chip-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.chip {
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.button-conatiner {
  padding: 0rem 2rem 0.75rem 1rem;
}

::ng-deep .button-padding button {
  padding: 0.4rem 1.6rem !important;
  letter-spacing: 0.1rem;
}

::ng-deep .mdc-evolution-chip-set .mdc-evolution-chip {
  padding-left: 0.6rem;
  //background-color: $color-text-light !important;
  border: 0.1rem solid $color-text-gray-light;
  border-radius: 0.3rem;
}

::ng-deep
  .mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled)
  .mdc-evolution-chip__text-label {
  font-family: $font-family;
  font-weight: 700;
  color: $color-text-dark !important;
}

::ng-deep
  .mat-mdc-standard-chip.mdc-evolution-chip--with-primary-graphic
  .mdc-evolution-chip__graphic {
  padding: 0 !important;
}

::ng-deep .mat-mdc-chip-graphic {
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  padding-left: 1.5rem;
}

::ng-deep .mat-ripple .mat-mdc-chip-ripple {
  background-color: $color-accent !important;
}

textarea::placeholder {
  font-weight: 700;
  font-size: 0.7rem;
  color: #bababa;
  padding-left: 0.3rem;
}

.no-padding-btm {
  padding-bottom: 0 !important;
}

::ng-deep .assigned-chip {
  background-color: $color-accent !important;
}

::ng-deep .mat-mdc-standard-chip.mat-mdc-chip-selected.mat-primary {
  --mdc-chip-elevated-container-color: #fccf00 !important;
}

::ng-deep .mat-mdc-standard-chip {
  --mdc-chip-elevated-container-color: white !important;
}

.textarea-container {
  position: relative;

  textarea {
    padding: 0.5rem !important;
    line-height: 1.3rem;
    font-size: 1.2rem;
  }
}

.textarea-container .char-count {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  color: $color-text-gray-light;
  letter-spacing: 0.05rem;
  font-weight: 600;
}

::ng-deep .mdc-evolution-chip__checkmark {
  color: $color-text-dark !important;
}

.error-message {
  font-weight: bold;
  color: red;
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.error-border {
  border: 1px solid red !important;
  border-radius: $border-radius;
}