<div class="form-container" [formGroup]="form">
  <div class="form-group">
    <ng-select
      class="search-field-multiselect employee-avatar custom-ng-select"
      [items]="employees$ | async"
      bindLabel="firstName"
      placeholder="Who you want to recognize?"
      appendTo="body"
      [multiple]="true"
      [(ngModel)]="selected"
      [clearable]="false"
      formControlName="receiversId"
      (search)="onSearchChange($event)"
    >
      <ng-template ng-label-tmp let-item="item" let-clear="clear">
        <span>{{ item.firstName + " " + item.lastName }}</span>
        <span
          class="ng-value-icon left"
          (click)="clear(item)"
          aria-hidden="true"
          >×</span
        >
      </ng-template>
      <ng-template
        ng-option-tmp
        let-item="item"
        let-search="searchTerm"
        let-index="index"
      >
        <span>{{
          item.firstName + " " + item.lastName + " - " + item.email
        }}</span>
      </ng-template>
    </ng-select>
  </div>

  <div class="form-group">
    <span>Select Category:</span>
    <div class="chip-list">
      <mat-chip-listbox aria-label="Fish selection" formControlName="reaction">
        <mat-chip-option *ngFor="let value of enumValues" [value]="value">{{
          value | reactionMessage
        }}</mat-chip-option>
      </mat-chip-listbox>
    </div>
  </div>

  <div class="form-group">
    <label for="titleInput">Title:</label>
    <div class="title-container">
      <input
        type="text"
        id="titleInput"
        formControlName="title"
        placeholder="Enter title..."
      />
    </div>
  </div>

  <div class="form-group">
    <label for="commentInput">Comment:</label>
    <textarea
      id="commentInput"
      formControlName="message"
      placeholder="Enter comment..."
    ></textarea>
  </div>

  <app-button
    buttonLabel="SEND"
    type="button"
    borderColor="black"
    (click)="onSubmit()"
  ></app-button>
</div>
